.newsletter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: fit-content;
    padding: 3rem;
    background-color: rgba(4, 122, 14, 0.205);
    border-radius: 20px;
    margin: 4rem auto;
}

.newsletter-container h1 {
    font-family: "Lora", serif;
    font-size: 2rem;
    text-align: center;
}

.newsletter-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.newsletter-box form {
    border: 1px solid #fff;
    border-radius: 75px;
    display: flex;
    gap: .3rem;
    align-items: center;
    width: fit-content;
    height: fit-content;
    padding: .5rem;
}

.newsletter-box form button {
    background-color: rgba(255, 240, 31, 0.87);
    padding: 10px 20px;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 75px;
}

.newsletter-box form input {
    border: none;
    outline: none;
    font-size: 1rem;
    color: white;
    padding: 8px 10px;
    background: transparent;
    font-family: "Lora", serif;
}