.testimonial-container {
    padding: 2rem;
    margin: 10rem 0;
    position: relative;
}

.testimonial-container h1 {
    font-family: Lora;
    margin-bottom: 1rem;
    text-align: center;
}

.slick-slide {
    padding: 0 10px;
    display: flex; /* Make sure slides are displayed */
    justify-content: center;
    opacity: 1 !important; /* Ensure slide visibility */
}

.slick-prev {
    position: absolute;
    left: -1.5rem; /* Adjust left position */
    z-index: 1;
}

.slick-next {
    position: absolute;
    right: -1rem; /* Adjust right position */
}

/* Dot styling */
.slick-dots {
    bottom: -80px;
    z-index: 3; /* Ensure dots are visible above other content */
    display: flex;
    justify-content: center;
    width: 100%;
}

.slick-dots li {
    margin: 0 5px; /* Adjust spacing between dots */
}

.slick-dots li button:before {
    font-size: 8px; /* Adjust size of the dots */
    color: rgba(4, 122, 14, 0.205); /* Make dots greenish */
    opacity: 0.8; /* Make them more visible */
}

.slick-dots li.slick-active button:before {
    color: rgba(4, 122, 14, 0.774); /* Active dot color */
    opacity: 1;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    width: 100%;
    min-height: fit-content;
    background: rgba(4, 122, 14, 0.205);
    border-radius: 20px;
    box-sizing: border-box;
    opacity: 1; /* Ensure visibility */
    transform: scale(1); /* Prevent any unintended scaling */
    z-index: 2; /* Ensure it is above other elements */
}

.user-box {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.testimonial-card img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.testimonial-position {
    font-size: 0.9rem;
    color: gray;
}

.slick-prev:before,
.slick-next:before {
    color: rgba(4, 122, 14, 0.699); /* or any color that contrasts the background */
    font-size: 30px;
    opacity: 1; /* Make sure they are visible */
}

@media (max-width: 600px) {
    .testimonial-container h1 {
        font-size: 1.4rem;
    }
}

@media (max-width: 768px) {
    /* Dot styling */
    .slick-dots {
        bottom: -40px;
        z-index: 3; /* Ensure dots are visible above other content */
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .slick-dots li {
        margin: 0; /* Adjust spacing between dots */
    }

    .slick-dots li button:before {
        font-size: 5px; /* Adjust size of the dots */
        color: rgba(4, 122, 14, 0.205); /* Make dots greenish */
        opacity: 0.8; /* Make them more visible */
    }

    .slick-dots li.slick-active button:before {
        color: rgba(4, 122, 14, 0.774); /* Active dot color */
        opacity: 1;
    }
}