* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: white;
  background: var(--main-color);
}

button {
  transition: all 0.5s ease;
}

button:active {
  transform: scale(0.95);
}

::-webkit-scrollbar {
  width: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: grabbing;
}

:root {
  --primary-color: rgba(255, 240, 31, 0.87);
  --secondary-color: rgba(4, 122, 14, 0.699);
  --sub-main: rgb(219, 21, 21);
  --main-color: rgb(6, 14, 0);
}

.navbar-container {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: var(--main-color);
  box-shadow: 0 0 5px 2px var(--secondary-color);
  padding: 20px 10px;
  font-size: 1.2rem;
  justify-content: space-between;
  z-index: 10;
}

.logo-box {
  display: flex;
  align-items: center;
  font-family: cursive;
  justify-content: center;
  cursor: pointer;
  width: 15%;
  color: white;
  text-decoration: none;
}

.logo-box img {
  width: 2rem;
}

.right-side-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.right-side-content nav {
  display: flex;
  gap: 20px;
}

.right-side-content nav a {
  color: white;
  text-decoration: none;
  transition: all .5s ease;
}

.right-side-content nav a.active {
  color: var(--primary-color);
}

.right-side-content nav a:hover {
  color: var(--primary-color);
}

.categories-box {
  position: relative;
}

.categories-box button {
  border: 0;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border-radius: 20px;
  padding: 8px 12px;
  font-size: 0.9rem;
  background: var(--primary-color);
  color: white;
  /* box-shadow: 0 0 1rem var(--primary-color); */
  cursor: pointer;
  width: 120px;
}

.categories-box .categories-list {
  position: absolute;
  top: 3.2rem;
  left: -1.3rem;
  background: var(--main-color);
  box-shadow: 0 0 5px 2px var(--secondary-color);
  border-radius: 10px;
  width: 150px;
  transition: all .5s ease;
  font-size: 1.2rem;
  height: 190px;
  overflow-y: auto;
}

.categories-list ul {
  list-style: none;
  padding: 5px 0;
}

.categories-list ul li {
  padding: 6px 8px;
  transition: all .1s linear;
}

.categories-list ul li:hover {
  cursor: pointer;
  background: var(--secondary-color);
  border-radius: 4px;
}

.search-box {
  display: flex;
  align-items: center;
  border-radius: 20px;
  position: relative;
  width: 150px;
}

.search-box input {
  border: 1px solid rgba(0, 0, 0, 0.562);
  outline: none;
  padding: 8px 12px;
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.search-box input:focus {
  outline: 0;
}

.search-icon {
  color: white;
}

.search-box span {
  position: absolute;
  background: var(--primary-color);
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 20px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-list {
  position: absolute;
  top: 3rem;
  right: -1rem;
  background: var(--main-color);
  box-shadow: 0 0 1rem var(--secondary-color);
  width: 190px;
  border-radius: 10px;
  max-height: 190px;
  overflow-y: auto;
}

.search-list ul {
  list-style: none;
  padding: 10px 0;
}

.search-list ul li {
  padding: 8px 5px;
  transition: all .3s ease;
}

.no-search-found {
  color: var(--sub-main);
  text-align: center;
}

.search-list ul .no-search-found:hover {
  background-color: transparent;
  cursor: no-drop;
}

.search-list ul li:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.sign-up-box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.sign-up-box button {
  padding: 8px 12px;
  background: var(--primary-color);
  /* box-shadow: 0 0 1rem var(--primary-color); */
  border: 0;
  outline: 0;
  border-radius: 20px;
  color: white;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all .5s ease;
}

/* .sign-up-box button:hover {
  box-shadow: 0 0 1rem 3px var(--primary-color);
} */

.shopping-cart,
.favorite-box {
  position: relative;
  cursor: pointer;
  color: white;
}

.number-of-items,
.number-of-wish-items {
  position: absolute;
  background: var(--secondary-color);
  border-radius: 50%;
  font-size: 1rem;
  top: -10px;
  right: -10px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.carousel-container {
  width: 100%;
  height: 20rem;
  position: relative;
  top: 4.5rem;
  z-index: -1;
  pointer-events: none;
  margin-top: 1rem;
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.carousel-inner {
  position: absolute;
  width: 100%;
  height: 100%;
}

.carousel-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  /* object-fit: fill; */
}

.carousel-item.active {
  opacity: 1;
}

.carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  /* z-index: 5; */
  border-radius: 50%;
  padding: 7px 10px;
}

.content-container {
  width: 100%;
  padding: 2rem;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.trending-container,
.best-sellers-container,
.deals-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.deals-container .display-deals {
  font-size: 1.5rem;
  margin-top: -20px;
}

.trending-box,
.best-sellers-box,
.deals-box {
  display: flex;
  gap: 1.5rem;
  overflow-x: auto;
  scrollbar-width: none;
  outline: none;
}

.trending-item,
.best-sellers-item,
.deals-item {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  height: fit-content;
  gap: 8px;
  position: relative;
  cursor: pointer;
}

.heart-icon {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 2.5rem;
  background: var(--secondary-color);
  padding: 10px;
  border-radius: 50%;
}

.trending-item .product-image,
.best-sellers-item .product-image,
.deals-item .product-image {
  width: 100%;
  height: 18rem;
  border-radius: 8px;
}

.product-rating-stars {
  width: 7rem;
  height: 1.5rem;
}

.rating-box {
  display: flex;
  gap: 10px;
  font-size: 1.5rem;
  align-items: bottom;
}

.trending-item button,
.best-sellers-item button,
.deals-item button {
  color: white;
  border: 0;
  outline: 0;
  border-radius: 20px;
  width: 100%;
  padding: 10px 0;
  background: var(--primary-color);
  /* box-shadow: 0 0 1rem var(--primary-color); */
  cursor: pointer;
  margin-top: 1rem;
  transition: all .5s ease;
}

/* .trending-item button:hover,
.best-sellers-item button:hover,
.deals-item button:hover {
  box-shadow: 0 0 1rem var(--primary-color);
} */

.trending-item .price,
.best-sellers-item .price {
  font-size: 1.5rem;
}

.price-box {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.discount {
  background: var(--secondary-color);
  padding: 3px 5px;
  border-radius: 5px;
  font-size: 1rem;
}

select {
  border: 1px solid rgb(213, 217, 217);
  border-radius: 8px;
  padding: 3px 5px;
  font-size: 15px;
  cursor: pointer;
}

select:focus,
input:focus {
  outline: 2px solid var(--primary-color);
}

.Footer {
  background: black;
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trending-main-container,
.best-sellers-main-container,
.deals-main-container {
  width: 100%;
  margin-top: 8rem;
}

.trending-main-container .trending-container,
.best-sellers-main-container .best-sellers-container,
.deals-main-container .deals-container {
  gap: 1rem;
  padding: 2rem 1rem;
}

.trending-main-container .trending-container h1,
.best-sellers-main-container .best-sellers-container h1,
.deals-main-container .deals-container h1 {
  text-align: center;
}

.deals-main-container .deals-container .display-deals {
  text-align: center;
}

.trending-main-box,
.best-sellers-main-box,
.deals-main-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.preview-container {
  width: 100%;
  padding-top: 7rem;
  display: flex;
  justify-content: center;
}

.preview-item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  position: relative;
  padding-bottom: 20px;
}

.preview-image {
  width: 15rem;
  position: relative;
}

.preview-item .title {
  font-size: 2rem;
}

.preview-item button {
  border-radius: 20px;
  width: 400px;
  padding: 10px 0;
  border: 0;
  outline: 0;
  color: white;
  background: var(--primary-color);
  cursor: pointer;
}

.preview-heart-icon {
  position: absolute;
  right: 230px;
  top: 10px;
  border-radius: 50%;
  background: var(--secondary-color);
  padding: 10px;
  font-size: 2.5rem;
  z-index: 3;
  cursor: pointer;
}

.wish-container {
  margin-top: 8rem;
  margin-bottom: 3rem;
  width: 100%;
  min-height: 60vh;
}

.wish-box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0 1rem;
  width: 100%;
}

.wish-box h1 {
  text-align: center;
}

.wish-item-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
  justify-content: center;
  width: 100%;
  position: relative;
}

.wish-item {
  display: flex;
  flex-direction: column;
  min-width: 15rem;
  height: fit-content;
  gap: 8px;
  position: relative;
  cursor: pointer;
}

.wish-item .wish-product-image {
  width: 100%;
  height: 18rem;
  border-radius: 8px;
}

.wish-item button {
  color: white;
  border: 0;
  outline: 0;
  border-radius: 20px;
  width: 100%;
  padding: 10px 0;
  background: var(--sub-main);
  /* box-shadow: 0 0 1rem var(--primary-color); */
  cursor: pointer;
  margin-top: 1rem;
  transition: all .5s ease;
}

.empty {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 20vh;
}

.empty-wish-list {
  text-align: center;
}

.checkout-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
  padding: 1rem 0;
  padding-bottom: 2rem;
  min-height: 67vh;
}

.product-display {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.product-display h1 {
  text-align: center;
}

.product-display-container {
  display: flex;
  gap: 1rem;
  padding: 0 3rem;
  width: 100%;
  justify-content: center;
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 2rem 1.2rem;
}

.product-info {
  display: flex;
  gap: 3rem;
}

.product-details {
  display: flex;
  gap: 1rem;
}

.product-details img {
  width: 9rem;
}

.product-further-info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.product-further-info .name {
  font-size: 1.5rem;
  font-weight: 600;
}

.product-further-info .price {
  font-size: 1rem;
  color: var(--sub-main);
}

.product-further-info .quantity {
  display: flex;
  gap: 5px;
  align-items: center;
  font-size: 1rem;
}

.quantity button {
  padding: 5px 8px;
  color: white;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.update-quantity {
  background: var(--secondary-color);
}

.delete-item {
  background: var(--sub-main);
}

.delivery-options {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: end;
}

.delivery-options-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.delivery-options h3 {
  color: var(--secondary-color);
  font-size: 1.5rem;
}

.option {
  display: flex;
  align-items: center;
}

.option input {
  width: 40px;
  border: 0;
  outline: 0;
  background: transparent;
}

.option-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 1.3rem;
}

.option-details p:nth-child(2) {
  color: var(--secondary-color);
}

.payment-summary {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  padding: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 25rem;
}

.price-outline {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  font-size: 1.2rem;
  border-bottom: 1px solid var(--secondary-color);
  padding-bottom: 10px;
}

.price-outline h2 {
  font-size: 1.6rem;
}

.price-per-quantity {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.item-price, .tax-calculation {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.before-tax {
  display: flex;
  justify-content: space-between;
}

.shipping {
  display: flex;
  justify-content: space-between;
}

.total-before-tax {
  display: flex;
  justify-content: space-between;
}

.estimated {
  display: flex;
  justify-content: space-between;
}

.place-order {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.place-order button {
  width: 100%;
  border-radius: 20px;
  color: white;
  border: 0;
  outline: 0;
  padding: 10px 0;
  background: var(--primary-color);
  cursor: pointer;
}

.contain-price-summation {
  display: flex;
  justify-content: space-between;
  color: var(--sub-main);
  align-items: center;
}

.search-results {
  width: 100%;
  margin-top: 6rem;
  min-height: 67.5vh;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.search-results h1 {
  font-size: 1.8rem;
}

.search-results-box {
  width: 100%;
  display: flex;
  justify-content: center;
}

.search-item {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
  position: relative;
  padding-bottom: 20px;
}

.search-item .description {
  width: 50%;
}

.search-item button {
  border-radius: 20px;
  width: 400px;
  padding: 10px 0;
  margin-top: 5px;
  border: 0;
  outline: 0;
  color: white;
  background: var(--primary-color);
  cursor: pointer;
}

.search-image {
  width: 12rem;
  position: relative;
  border-radius: 10px;
}

.search-item .heart-icon {
  position: absolute;
  right: 15rem;
  top: 5px;
  border-radius: 50%;
  background: var(--secondary-color);
  padding: 10px;
  font-size: 2.5rem;
  z-index: 3;
  cursor: pointer;
}

.show-sidebar, .close-sidebar {
  display: none;
}

/* @media (max-width: 1100px) {
  .navbar-container {
    display: flex;
    justify-content: space-around;
    gap: 0;
  }

  .right-side-content {
    display: flex;
    justify-content: space-between;
    /* width: 80%; */
  /* }

  .right-side-content nav {
    gap: 10px;
  }
}  */

@media (max-width: 1024px) {
  .right-side-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    background: rgba(4, 122, 14, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    left: 0;
    top: 2rem;
    height: 45rem;
    /* width: 20rem; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 70%;
  }

  .show-sidebar, .close-sidebar {
    display: block;
    cursor: pointer;
  }

  .close-sidebar {
    position: absolute;
    right: 10px;
    top: 10px;
    background: rgba(4, 122, 14, 0.5);
    font-size: 2.8rem;
    padding: 10px;
    border-radius: 50%;
  }

  .right-side-content nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .search-list, .categories-list {
    z-index: 3;
  }

  .wish {
    font-size: 8rem;
  }
}